.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
  max-height: 10vh;
  gap: 20px;
  padding: 16px;
  background: var(--bg-navbar);
}

.btnNav {
  padding: 20px 40px;
  font-size: 15px;
  border-radius: 2px;
  transition: 0.2s ease;
  background-color: var(--color-primary);
  text-decoration: none;
  color: var(--text-light);
  font-weight: 500;
}

.btnNav:hover {
  background-color: var(--color-primary-hover);
}
